/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 736px) {

    .background-image {
        background-image: url('../img/landing.jpg');
        background-size: cover;
        background-position: center, center;
        width: 100vw;
        height: 100vh;
    }

    #nav-background-color a {
        font-size: 1rem;
    }

    .footer p {
        font-size: 10px;
        margin-bottom: 0;
    }

    #photos {
        margin-top: 5rem;
        width: 95%;
    }

    /*Groomsmen*/
    #groomsmen-container {
        padding: 2rem;
        margin-top: 0;
    }

    .card-img, .card-img-top {
        margin: 0;
        padding: 3px;
    }

    h5, .h5 {
        font-size: 1rem;
    }
    .card-text {
        font-size: 12px;
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
         padding-right: 0;
         padding-left: 0;

    }

/*Footer*/
   div .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        /*background-color: #f6f6f6;*/
        background-color: #dde0e3;
        text-align: center;
    }
}

/*Ipad*/
@media only screen and (max-width: 1025px) {
    .background-image {
        background-image: url('../img/landing.jpg');
        background-size: cover;
        background-position: center, center;
        width: 100vw;
        height: 100vh;
    }

    #photos {
        margin-top: 5rem;
        width: 95%;
    }

    /*Groomsmen*/

    .card-img, .card-img-top {
        margin: 0;
        padding: 3px;
    }
}