
body {
    background-color: #051F20;
}


#nav-background-color {
    /*background-color: #f6f6f6;*/
    background-color: #dde0e3;

}

#nav-background-color a {
    color: #051F20;
}


#header-container Nav Nav.Link a {
}

.navbar-dark .navbar-nav .nav-link {
    color: #051F20;
    font-size: 1.1rem;
}

.navbar-brand {
    color: #051F20;
    font-size: 1.1rem;
}

.navbar-dark .navbar-toggler {
    background-color: #051F20;;
}

/*Our Story*/

#card-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/*Photos*/

#photos {
    margin-top: 2rem;
    width: 90%;
}

.our-story-text {
    margin-bottom: 1rem;
}


/*Groomsmen & Bridesmaid*/


#groomsmen-container {
    padding: 4rem;
    margin-bottom: 1rem;
}

.card-img, .card-img-top {
    padding: 0.3rem;
}

/*Timer*/

.timer-container {
    /*background-image: url("https://images.unsplash.com/photo-1524678714210-9917a6c619c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1349&q=80");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.timer {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dde0e3;
    /*border: 2px solid #fff;*/
    border-radius: 5px;
}

.timer div:first-child {
    text-align: center;
}

.timer div:first-child p {
    color: #f8f8f8;
}

/*.timer div:last-child {*/
/*    !*border: 2px solid #fff;*!*/
/*    !*border-radius: 3px;*!*/
/*    display: grid;*/
/*    grid-template-columns: repeat(7, 1fr);*/
/*    margin-top: 3rem;*/
/*    padding: 3rem;*/
/*    text-align: center;*/
/*    margin-bottom: 2rem;*/
/*}*/

.timer div:last-child {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*margin-top: 3rem; */
    padding: 0 1rem 1rem;
    text-align: center;
    /* margin-bottom: 2rem; */
}


section p:first-child, .timer div:last-child span {
    font-size: 3rem;
}

.timer-box p, small {
    font-weight: bolder;
}


.background-image {
    background-image: url('../img/landing.jpg');
    background-size: cover;
    background-position: center, center;
    width: 100vw;
    height: 100vh;
}

/*smartphones*/
@media screen and (max-width: 735px) {
    .timer div:last-child {
        margin-left: 2em;
        margin-right: 2rem;
        padding: 1em 1em;
    }

    .timer div:first-child p {
        font-size: 1rem;
    }

    .timer-box {
        margin: 0;
    }

    section .timer p {
        font-size: 1rem;
    }

    section p:first-child, .timer div:last-child span {
        font-size: 1rem;
    }

    .timer div:last-child {
        margin-left: 6em;
        margin-right: 6rem;
        padding: 1em 1em;
        margin: 0;
    }

    .timer-box {
        background-color: rgba(0, 0, 0, 0.3);
        margin: 0;

    }

    .timer-box p, small {
        font-weight: bolder;
    }

    .timer {
        background-color: rgba(0, 0, 0, 0);
    }
}