
body {
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#nav-background-color {
    /*background-color: #f6f6f6;*/
    background-color: #dde0e3;

}

#nav-background-color a {
    color: #051F20;
}


#header-container Nav Nav.Link a {
    color: red;
}

.navbar-dark .navbar-nav .nav-link {
    color: #051F20;
    font-size: 1.1rem;
}

.navbar-brand {
    color: #051F20;
    font-size: 1.1rem;
}

.navbar-dark .navbar-toggler {
    background-color: #3f4c6b;
}

/*Our Story*/

#card-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/*Photos*/

#photos {
    margin-top: 5rem;
    width: 60%;
}


/*Groomsmen*/

#groomsmen-container {
    margin-top: 2rem;
    padding: 3rem;
}

.card-img, .card-img-top {
    padding: 1rem;
}